[submodule "src/solvers/OpenFoamAero"]
	path = src/solvers/OpenFoamAero
	url = https://github.com/WyllDuck/OpenFOAM-ToolChain-for-Rocket-Aerodynamic-Analysis.git
[submodule "src/solvers/laminated-composites-toolkit"]
	path = src/solvers/laminated-composites-toolkit
	url = https://github.com/senthilvelUM/laminated-composites-toolkit.git
[submodule "src/solvers/PyFEA"]
	path = src/solvers/PyFEA
	url = https://github.com/riedelx/PyFEA.git
[submodule "src/solvers/python-xfoil"]
	path = src/solvers/python-xfoil
	url = https://github.com/cc-aero/python-xfoil.git
[submodule "src/solvers/EmpiricalRocketAerodynamics"]
	path = src/solvers/EmpiricalRocketAerodynamics
	url = git@gitlab.com:keplr-space/aerodynamics.git
